@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
}

/* Header Styling */
header {
    text-align: center;
    background-color: #ffffff;
    text-shadow: 2px 2px 4px #ccc;
    font-size: 50px;
}

/* Box Styling */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
}

/* Row Styling */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button Styling */
.btn {
    border: 2px solid #000;
    border-radius: 5px;
    width: 75px;
    height: 75px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    text-shadow: 1px 1px 2px #ccc;
    cursor: pointer;
    transition: background-color 0.3s, cursor 0.3s;
}

/* Button Hover Styling */
.btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

/* Disabled Button Styling */
.btn:disabled {
    color: #000;
    cursor: no-drop;
}

/* Result Container Styling */
.result-container {
    display: flex;
    justify-content: center;
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    margin: 20px auto;
    padding: 10px;
}

/* Result Styling */
.result {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ccc;
    font-size: 25px;
}

/* Reset Styling */
.reset {
    text-align: center;
}

/* Reset Button Styling */
.reset-btn {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Reset Button Hover Styling */
.reset-btn:hover {
    background-color: #ffffff;
    color: #000;
}
