body {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Radio Canada", sans-serif;
}

header {
  text-align: center;
  color: #ffffff; /* Bright white color */
  text-shadow: 2px 2px 4px #ccc; /* Subtle text shadow */
  font-size: 50px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 35px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 2px solid #000;
  border-radius: 5px;
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.7); /* Slightly transparent white background */
  color: #000;
  text-shadow: 1px 1px 2px #ccc; /* Lighter text shadow */
  cursor: pointer;
  transition: background-color 0.3s, cursor 0.3s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Lighter shade on hover */
  cursor: pointer;
}

.btn:disabled {
  color: #000;
  cursor: not-allowed; /* No-drop cursor for disabled button */
}

.result-container {
  display: flex;
  justify-content: center;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  margin: 20px auto;
  padding: 10px;
}

.result {
  text-align: center;
  color: #ffffff; /* Bright white color */
  text-shadow: 1px 1px 2px #ccc; /* Light text shadow */
  font-size: 25px;
}

.reset {
  text-align: center;
}

.reset-btn {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #ffffff; /* Bright white color */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.reset-btn:hover {
  background-color: #ffffff; /* Bright white background on hover */
  color: #000; /* Black text on hover */
}
